apiVersion: v1
kind: Secret
metadata:
  name: telemedicine-secrets
type: Opaque
data:
  mongo_uri: {{ mongo_uri | b64encode }}
  jwt_secret: {{ jwt_secret | b64encode }}
  cloudinary_cloud_name: {{ cloudinary_cloud_name | b64encode }}
  cloudinary_api_key: {{ cloudinary_api_key | b64encode }}
  cloudinary_api_secret: {{ cloudinary_api_secret | b64encode }}
  default_admin_email: {{ default_admin_email | b64encode }}
  default_admin_password: {{ default_admin_password | b64encode }}
  docker_hub_username: {{ docker_hub_username | b64encode }}
  docker_hub_password: {{ docker_hub_password | b64encode }}
  version: {{ version | default('latest') | b64encode }}